/* ==========================================================================
   ABOUT US
   ========================================================================== */

.author {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 6px;
    .author_portrait {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #D9D9D9;
    }
    .author_name {
        color: #FFF;
        font-feature-settings: 'clig' off, 'liga' off;
        /* Title/T2 */
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.5px;
        text-transform: uppercase;    
        margin: 0;
    }
}