/* ==========================================================================
   BREADCRUMBS
   ========================================================================== */
.breadcrumbs {
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
  display: flex;
  color: black;
  cursor: default;

  li {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    & + li {
      &:before {
        margin: 0 5px;
        content: '/';
      }
    }
  }

  br {
    display: none;
  }

  .heading & {
    margin-bottom: 0;
    color: white;
  }
}
