.tool-button-case-study {
    flex-direction: column;
    margin-top: 0;
    width: 170px;
}
.toolpage-case-study {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-responsive {
    margin-top: 50px;
}
