
.learn-more a{
    color: #1D2865;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: auto; 
  text-underline-offset: 5px;
  text-transform: capitalize;
  letter-spacing: 0.50px;
  word-wrap: break-word
  }
  
  .get-in-touch a{
  color: #1D2865;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700 ;
  text-decoration: underline;
  text-decoration-skip-ink: auto; 
  text-underline-offset: 5px;
  text-transform: capitalize;
  letter-spacing: 0.50px;
  word-wrap: break-word
  }
  
  .get-in-touch {
    margin-top: 16px;
  }
  
  .learn-more {
    margin-top: 36px;
  }