.learning-hub-heading {
    .learning-hub-heading-content {
        color: black;

    }
}

.learning-hub-title {
    text-align: center;
}

.learning-hub-post-title {
    font-weight: 700;
    font-size: 15px;
}

.learning-hub-italic {
    font-style: italic;
}