/* ==========================================================================
   LOGIN
   ========================================================================== */
.pre-login {
  margin: 80px 0;
  @media (min-width: 768px) {
    margin: 100px 0 140px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 200px;
  }

  &-content {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    @media (min-width: 992px) {
      padding-bottom: 0;
    }

    h3 {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 34px;
      font-weight: normal;
      color: #223c52;
    }

    p {
      margin-bottom: 26px;
    }

    .btn {
      margin-top: 4px;
      @media (max-width: 992px) {
        max-width: 182px;
        margin-right: auto;
        margin-left: auto;
        display: block;
      }
    }
  }

  &-image {
    padding: 0;
    margin: 0;
    display: block;
    @media (min-width: 768px) and (max-width: 1439px) {
      height: 100%;
    }
    @media (min-width: 1440px) {
      margin-right: 20px;
    }

    img {
      min-height: 100%;
      display: block;
      object-fit: cover;
      -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    }
  }
}

.heading-white {
  color: black;
  background: white !important;
  .country_subpage-img-layer, .country_subpage-benner-img {display: none !important;}
  .dsc-about-inner {color: black;}
  .breadcrumbs {color: black;}
  .dsc-about-page {position: relative;left: auto;transform: none;}
  .dsc-about-inner {
    margin-top: 32px;
    h3 {margin-bottom: 0 !important;}
  }
}

.login {
  margin: 80px 0;
  position: relative;
  @media (min-width: 768px) {
    margin: 100px 0 140px;
  }

  &.hidden {
    &, & ~ .future-landscapes-main {display: none;}
  }

  &-image {
    padding: 0;
    margin: 0;
    display: block;
    @media (min-width: 768px) and (max-width: 1439px) {
      height: 100%;
    }
    @media (min-width: 1440px) {
      margin-right: 20px;
    }

    img {
      min-height: 100%;
      display: block;
      object-fit: cover;
      -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    }
  }

  &-content {
    line-height: 26px;
    letter-spacing: -.0025em;
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media (min-width: 992px) {
      max-width: 480px;
      margin-bottom: 0;
    }

    h2 {
      margin-top: -6px;
      margin-bottom: 33px;
      font-size: 40px;
      line-height: 50px;
      font-weight: normal;
      text-transform: none;
      color: #223c52;
    }
    h4 {
      margin-bottom: 0;
      color: #223c52;
    }
    strong {
      letter-spacing: -.0075em;
    }
    hr {
      margin-top: 4px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 26px;
    }

    .form {
      max-width: 500px;
      margin-top: 23px;
      margin-bottom: 40px;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
      @media (min-width: 992px) {
        max-width: 390px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 100px;
      }

      .form-label {
        margin-bottom: 0;
        display: block;
        color: #223c52;
        sup {
          font-size: 30px;
          top: .15em;
        }
      }
      .form-control {
        height: auto;
        padding: 11px;
        border: 1px solid #f7f8f9;
        border-radius: 0;
        font-size: 16px;
        line-height: 20px;
        background: #f7f8f9;
      }

      &.was-validated .form-control:invalid {
        border-color: red;
      }

      &-error {
        margin-bottom: 30px;
        display: none;
        &.visible {
          display: block;
        }
      }

      .mb-4 {
        margin-bottom: 30px !important;
      }
      .btn {
        min-width: 124px;
        margin-right: 20px;
      }
      .forgot {
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
        color: black;
      }
      .required {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  &-download {
    padding: 33px 24px;
    margin-bottom: 40px;
    color: black;
    background: #f5f5f5;
    @media (min-width: 992px) {
      margin-top: -4px;
      margin-right: 23px;
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 22px;
      font-size: 18px;
      font-weight: bold;
    }

    .space {
      @media (min-width: 768px) {
        display: flex;
      }
    }

    .form-select {
      width: 100%;
      padding: 15px 28px 13px;
      margin-bottom: 30px;
      font-size: 18px;
      background: white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") no-repeat right 1em center;
      background-size: 20px 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
      @media (min-width: 992px) {
        max-width: 283px;
        margin-left: 2px;
      }
    }

    .btn {
      min-width: 150px;
      margin: 0 auto;
      display: block;
      @media (min-width: 768px) {
        margin-left: 20px;
      }
    }
  }

  &-logout {
    &.btn {
      max-width: 240px;
      margin: 40px auto 0;
      border: 1px solid #072857 !important;
      display: block;
      color: #072857 !important;
      background: #f5f5f5 !important;
      @media (min-width: 992px) {
        max-width: none;
        margin: 0;
        position: absolute;
        top: -150px;
        right: 20px;
      }
    }
  }

  & ~ .future-landscapes-main {
    @media (min-width: 1440px) {
      margin-bottom: 200px !important;
    }
    h2, .common-title {
      margin-bottom: 0;
      font-size: 40px;
      line-height: 51px;
      text-transform: none;
      font-weight: normal;
    }
    img {
      max-width: 400px;
      height: auto;
      display: block;
    }
    .future-dsc-title {
      font-size: 26px;
      text-transform: none;
      color: #223c52;
    }
    .future-dsc p {
      font-size: 16px;
      line-height: 23px;
      color: #223c52;
    }
  }
}

.btn-primary {
  min-width: 182px;
  padding: 14px 20px;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: .5px;
  color: white;
  background: #1d2865;
  &:hover {
    background: #1d2865;
  }
}