.new-about-title {
    margin-top: 60px;
    font-weight: 700;
}

.img-container {
    .img-fluid {
        width: 100%;
        height: 250px;
    }
}

.new-about-content {
    margin-top: 20px;

    .new-about-content-title {
        color: black;
        font-weight: 700;
    }

    .new-about-content-subtitle {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 15px;
    }

    .new-about-content-para {
        font-size: 15px;
        font-weight: 500;
    }

    .new-about-content-tagline {
        font-size: 15px;
        font-style: italic;
        font-weight: 500;
    }
}