.our-blog {
  box-shadow: 0 0 0 100vmax #f8f8fd;
  clip-path: inset(0 -100vmax);
  background-color: #f8f8fd;
  padding-top: 0.5px;
}

.common-blog-title button {
  color: #1d2865;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: underline;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  text-decoration-skip-ink: auto;
  text-underline-offset: 5px;
  border: none;
  background-color: transparent;
}

.button-1 {
  background-color: #E9EEDE;
  padding: 4px 6px;

  p {
    color: #5F6949;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

}

.button-2 {
  background-color: #e9eff7;
  padding: 4px 6px;

  p {
    color: #072857;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
}

.button-3 {
  background-color: #ebebeb;
  padding: 4px 6px;

  p {
    color: #333042;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
}

.button-4 {
  background-color: #f7e7db;
  padding: 4px 6px;

  p {
    color: #DF6B17;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
}

.title-img {
  text-transform: uppercase;
  width: 95%;
}

.title-img a {
  letter-spacing: 0.5px;
}

.line-card {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date-card {
  display: flex;
  align-items: center;
}

.date-card span {
  color: #b7b7b7;
  font-weight: 400;
  line-height: 20px;
}

.dot-card {
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background-color: #b7b7b7;
  margin-left: 10px;
  margin-right: 10px;
}

.icon {
  padding-right: 20px;
  cursor: pointer;
}

.icon-blog {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 10px;
  gap: 24px;
}

.icon-end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}