/* ==========================================================================
   POST
   ========================================================================== */
.post {
  img {
    max-width: 978px;
    height: auto;
    margin: 0 0 3rem;
    display: block;
    object-fit: cover;
  }

  p {
    margin: 0 0 1em;
  }

  ul {
    padding: 0;
    margin: 0 0 1em;
    list-style: none;

    a {
      text-decoration: underline;
    }
  }

  h3, h4, h5, h6 {
    margin: 3rem 0 1rem;
    font-weight: bold;
  }
}
