.form-select {
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
  margin-top: 25px;
}
.under-select-year {
  margin-top: 20px;
}
.side-bar-interactive-map {
  margin-bottom: 250px;
}
.living-earth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px 0;
}
.world {
  max-width: 1084px;
  height: 676px;
}
.right-content {
  display: flex;
}
.right-content p {
  margin-bottom: 0;
  margin-left: 5px;
}
.banner-button {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tool-button-banner {
  background-color: transparent;
  border: 1px solid gray;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  min-height: 54px;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: #072857;
    color: #ffffff;
    outline: none;

    img {
      filter: invert(100%);
    }
  }

  p {
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
  }
}

.select-year {
  margin-top: 24px;
}
.select-year-title {
  font-weight: bold;
  text-transform: uppercase;
}

.base-map,
.additional-layer {
  margin-top: 20px;
}
.select-base-map,
.select-additional-layer {
  font-weight: bold;
  text-transform: uppercase;
}
.option-year,
.option-layer {
  color: #9f9f9f;
  margin-top: -15px;
}
.no-basemap,
.base-land,
.vegetation,
.continous,
.Canopy,
.Canopy-continous,
.life-form,
.leaf-type,
.non-stress,
.above-ground {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.no-basemap span,
.base-land span,
.vegetation span,
.continous span,
.Canopy span,
.Canopy-continous span,
.life-form span,
.leaf-type span,
.non-stress span,
.above-ground span {
  padding-left: 10px;
}
.icon-atfer-selected-year {
  display: flex;
}
.after-selected-line {
  height: 1px;
  background-color: #9f9f9f;
  margin-top: -10px;
  margin-bottom: 5px;
}
input[type="checkbox"] {
  display: none;
}

label[for="checkbox1"],
label[for="checkbox2"] {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
}

label[for="checkbox1"]:before,
label[for="checkbox2"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label:before {
  background-color: #072857;
}

label[for="checkbox1"]:hover:before,
label[for="checkbox2"]:hover:before {
  background-color: #ddd;
}

label[for="checkbox1"] span,
label[for="checkbox2"] span {
  display: inline-block;
  margin-right: 10px;
}

label[for="checkbox1"]:hover span,
label[for="checkbox2"]:hover span {
  filter: brightness(1.5);
}

input[type="checkbox"] {
  display: none;
}

label[for="checkbox3"],
label[for="checkbox4"],
label[for="landcheckbox1"],
label[for="landcheckbox2"],
label[for="landcheckbox3"],
label[for="landcheckbox4"],
label[for="landcheckbox5"] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

label[for="checkbox3"]:before,
label[for="checkbox4"]:before,
label[for="landcheckbox1"]:before,
label[for="landcheckbox2"]:before,
label[for="landcheckbox3"]:before,
label[for="landcheckbox4"]:before,
label[for="landcheckbox5"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  background-color: #fff;
}

input[type="checkbox"]:checked + label[for="checkbox3"]:before,
input[type="checkbox"]:checked + label[for="checkbox4"]:before,
input[type="checkbox"]:checked + label[for="landcheckbox1"]:before,
input[type="checkbox"]:checked + label[for="landcheckbox2"]:before,
input[type="checkbox"]:checked + label[for="landcheckbox3"]:before,
input[type="checkbox"]:checked + label[for="landcheckbox4"]:before,
input[type="checkbox"]:checked + label[for="landcheckbox5"]:before {
  background-color: #072857;
}

label[for="checkbox3"]:hover:before,
label[for="checkbox4"]:hover:before,
label[for="landcheckbox1"]:hover:before,
label[for="landcheckbox2"]:hover:before,
label[for="landcheckbox3"]:hover:before,
label[for="landcheckbox4"]:hover:before,
label[for="landcheckbox5"]:hover:before {
  background-color: #ddd;
}

label[for="checkbox3"] span,
label[for="checkbox4"] span,
label[for="landcheckbox1"] span,
label[for="landcheckbox2"] span,
label[for="landcheckbox3"] span,
label[for="landcheckbox4"] span,
label[for="landcheckbox5"] span {
  display: inline-block;
  margin-right: 10px;
}

label[for="checkbox3"]:hover span,
label[for="checkbox4"]:hover span,
label[for="landcheckbox1"]:hover span,
label[for="landcheckbox2"]:hover span,
label[for="landcheckbox3"]:hover span,
label[for="landcheckbox4"]:hover span,
label[for="landcheckbox5"]:hover span {
  filter: brightness(1.5);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 4px;
}

input[type="checkbox"]:checked + label:before {
  background-color: #072857;
  content: "\2713";
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.tools-interactivemap--select---year----disabled, .tools-interactivemap--button---disabled {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}

// Style for map
.tool_container {
  .commom-class-disabled.map-left {
    width: 30%;
  }

  .map-container {
    width: 70%;

    #map {
      width: 100%;
    }
  }

  .marker-info {
    padding: 10px;
    text-align: left;
  }

  .leaflet-control-custom {
    padding: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: auto;
    text-align: center;
  }

  .legend-base {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;

    img {
      border: 1px solid black;
    }

    span {
      display: block;
    }

    &.active img {
      border: 1px solid red;
    }
  }

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .legend-color {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    margin-right: 8px;
    border: 1px solid black;
  }

  .legend-text {
    flex: 1;
  }

  .leaflet-popup-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px 0;
  }

  .image-container {
    margin-bottom: 10px;
    margin: 0.25em;

    img {
      max-width: 100%;
      max-height: 80px;
      display: block;
    }

    .title-image {
      text-align: center;
      color: #000;
      margin-top: 4px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .leaflet-container a.leaflet-popup-close-button {
    font-size: 28px;
    color: #ffffff;
    font-weight: 100;
    top: 4px;
    right: 4px;
  }

  .leaflet-popup-content-wrapper {
    min-width: 500px;

    .leaflet-popup-content {
      width: 100% !important;
    }

    .leaflet-header {
      background-color: #072857;
      padding: 12px;
      color: #ffffff;

      h5 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
      }

      .date-time {
        font-size: 14px;
      }
    }
    

    .leaflet-body {
      padding: 12px;
      color: #000;

      .leaflet-body-images {
        gap: 4px;
      }
    }
  }

  /* Style for backdrop and modal container */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
  }

  /* Style for the modal content */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px 20px;
    background: white;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(155, 155, 155, 0.5);
      border-radius: 20px;
      border: transparent;
    }
  }

  .close-moda-popup {
    display: block;
    width: max-content;
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
  }
}

@media (max-width: 1600px) {
  .tool_container {
    .commom-class-disabled.map-left {
      width: 40%;
    }
  
    .map-container {
      width: 60%;
    }
  }
}

@media (max-width: 1024px) {
  .tool_container {
    flex-wrap: wrap;

    .commom-class-disabled.map-left {
      width: 100%;
    }
  
    .map-container {
      width: 100%;
    }
  }
}