.tools-container {
  width: 100%;
  flex: 1;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #3498db #ecf0f1;
}

.tools-container::-webkit-scrollbar {
  width: 12px;
  height: 4px;
  border-radius: 1px;
}

.tools-container::-webkit-scrollbar-thumb {
  background-color: #1d2865;
}

.tools-container::-webkit-scrollbar-track {
  background-color: #ecf0f1;
}

.tools_wrapper {
  width: 394px;
  margin-right: 32px;

  .tools-img-container {
    width: 394px;

    .tools-img {
      width: 100%;
      height: 253px;
    }
  }

  .tools_title_wrapper {
    width: 394px;

    .tools_title {
      margin-top: 24px;
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    .tools_subtitle {
      color: var(--Grayscale-700, #535353);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.5px;
    }
  }
}


