.tool_container {
  display: flex;
  background-color: #ebebeb;

  .tool_img img {
    width: 100%;
  }

  .tool_side_bar {
    padding: 27px 16px 27px 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 80vh;

    .country_form {
      display: flex;
      gap: 24px;
      flex-direction: column;
      flex-grow: 1;

      select {
        flex-shrink: 0;
        stroke-width: 1px;
        stroke: rgba(96, 92, 114, 0.3);
        border: 1px solid rgba(96, 92, 114, 0.3);
        color: #9f9f9f;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 16px 13px;
      }

      .sign_in_github {
        display: flex;
        height: 48px;
        padding: 18px 60px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background: #072856;
        color: #fff;
        text-align: center;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Raleway;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        border: none;
      }
    }

    .tool-sidebar-content {
      .tool-sidebar-content-items {
        padding: 16px 0;

        .title-sub {
          height: 68px;

          .title {
            color: #072857;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .subtitle {
            color: #535353;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.5px;
          }
        }
      }
    }

    .learning_resource {
      display: flex;
      flex-direction: column;
      gap: 36px;

      .button_tool_tilte {
        padding: 0;
        padding-right: 8px;
        cursor: pointer;
      }

      .brand_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .tool_content {
    padding: 40px 70px;

    .page_link {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.5px;
    }

    .title {
      color: #1d1b24;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Raleway;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0.5px;
      text-transform: capitalize;
    }

    .article_heading {
      color: #1d1b24;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Raleway;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.5px;
      text-transform: capitalize;
    }

    .article_description {
      color: #535353;
      align-self: stretch;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      margin-bottom: 40px;
    }

    video {
      width: 100%;
      height: 465px;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

@media (max-width: 860px) {
 
.tool_container {
  flex-direction: column;


  .tool_side_bar {
    width: 100%;
    padding: 16px;

    .country_form {
      select {
        width: 100%;
      }
    }

    .tool-sidebar-content {
      .tool-sidebar-content-items {
        .title-sub {
          width: 100%;
        }
      }
    }
  }
}
.banner-button {
  max-width: 100%;
}
.separated-item-img {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}
}
