.form-select {
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;
  margin-top: 25px;
}

.under-select-year {
  margin-top: 20px;
}

#interactive-map {
  height: 100%;
}

.living-earth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px 0;
}

.world {
  max-width: 1084px;
  height: 676px;
}

.right-content {
  display: flex;
}

.right-content p {
  margin-bottom: 0;
  margin-left: 5px;
}

.banner-button {
  display: grid;
  flex-wrap: wrap;
  gap: 5px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tool-button-banner[disabled] {
  opacity: 0.5;
}

.tool-button-banner {
  background-color: transparent;
  // border: 1px solid gray;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  min-height: 54px;
  color: #ffffff;

  // &:hover,
  // &:active,
  // &:focus,
  // &.active {
  //   background-color: #072857;
  //   color: #ffffff;
  //   outline: none;

  //   img {
  //     filter: invert(100%);
  //   }
  // }

  p {
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
  }
}

.select-year {
  margin-top: 24px;
}

.select-year-title {
  font-weight: bold;
  text-transform: uppercase;
}

.base-map,
.additional-layer {
  margin-top: 20px;
}

.option_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 12px;

  & div {
    display: flex;
    margin-right: 24px;
  }

  & label {
    margin-bottom: 0px;
    margin-left: 10px;
    color: white;
  }
}

.info {
  height: 0px;
  overflow: hidden;
  padding-left: 12px;
}

.info.open {
  height: max-content;
}

.popup_more-info {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 9999;
  border-radius: 5px;
  padding: 0 24px;
  height: fit-content;
  max-height: 80vh;
  overflow: auto;
  min-width: 800px;

  .content-container {
    display: flex;
    flex-direction: column;
  }

  .title-popup {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
  }
}

.over-hidden {
  overflow: hidden !important;
}

.icon-atfer-selected-year * {
  width: 15px;
  margin-right: 8px;
  cursor: pointer;
}

// .icon-atfer-selected-year *:last-of-type {
//   margin-right: 0px;
// }

.over-lay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.25;
  z-index: 9998;
  width: 100%;
  height: 100%;
}

.popup_more-info.open+.over-lay {
  display: block;
}

.popup_more-info.open {
  display: block;

  .close {
    position: absolute;
    right: 24px;
    top: 24px;
    font-weight: 100;
    font-size: 30px;
  }
}

.item-info {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid black;
  margin-top: 16px;
  font-size: 14px;

  &:last-of-type {
    border-bottom: none;
  }

  .title {
    min-width: 25%;
    font-weight: bold;
  }

  .content {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
}

.select-base-map,
.select-additional-layer {
  font-weight: bold;
  text-transform: uppercase;
}

.option-year,
.option-layer {
  color: #9f9f9f;
  margin-top: -15px;
}

.no-basemap,
.base-land,
.vegetation,
.continous,
.Canopy,
.Canopy-continous,
.life-form,
.leaf-type,
.non-stress,
.above-ground {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-basemap span,
.base-land span,
.vegetation span,
.continous span,
.Canopy span,
.Canopy-continous span,
.life-form span,
.leaf-type span,
.non-stress span,
.above-ground span {
  padding-left: 10px;
}

.icon-atfer-selected-year {
  display: flex;
  margin-bottom: 0px;
}

.after-selected-line {
  height: 1px;
  background-color: #9f9f9f;
  margin-top: -10px;
  margin-bottom: 5px;
}

label[for="checkbox1"],
label[for="checkbox2"] {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
}

label[for="checkbox1"]:before,
label[for="checkbox2"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
}

label[for="checkbox1"]:hover:before,
label[for="checkbox2"]:hover:before {
  background-color: #ddd;
}

label[for="checkbox1"] span,
label[for="checkbox2"] span {
  display: inline-block;
  margin-right: 10px;
}

label[for="checkbox1"]:hover span,
label[for="checkbox2"]:hover span {
  filter: brightness(1.5);
}

label[for="checkbox3"],
label[for="checkbox4"],
label[for="landcheckbox1"],
label[for="landcheckbox2"],
label[for="landcheckbox3"],
label[for="landcheckbox4"],
label[for="landcheckbox5"] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

label[for="checkbox3"]:before,
label[for="checkbox4"]:before,
label[for="landcheckbox1"]:before,
label[for="landcheckbox2"]:before,
label[for="landcheckbox3"]:before,
label[for="landcheckbox4"]:before,
label[for="landcheckbox5"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  background-color: #fff;
}

input[type="checkbox"]:checked+label[for="checkbox3"]:before,
input[type="checkbox"]:checked+label[for="checkbox4"]:before,
input[type="checkbox"]:checked+label[for="landcheckbox1"]:before,
input[type="checkbox"]:checked+label[for="landcheckbox2"]:before,
input[type="checkbox"]:checked+label[for="landcheckbox3"]:before,
input[type="checkbox"]:checked+label[for="landcheckbox4"]:before,
input[type="checkbox"]:checked+label[for="landcheckbox5"]:before {
  background-color: #072857;
}

label[for="checkbox3"]:hover:before,
label[for="checkbox4"]:hover:before,
label[for="landcheckbox1"]:hover:before,
label[for="landcheckbox2"]:hover:before,
label[for="landcheckbox3"]:hover:before,
label[for="landcheckbox4"]:hover:before,
label[for="landcheckbox5"]:hover:before {
  background-color: #ddd;
}

label[for="checkbox3"] span,
label[for="checkbox4"] span,
label[for="landcheckbox1"] span,
label[for="landcheckbox2"] span,
label[for="landcheckbox3"] span,
label[for="landcheckbox4"] span,
label[for="landcheckbox5"] span {
  display: inline-block;
  margin-right: 10px;
}

label[for="checkbox3"]:hover span,
label[for="checkbox4"]:hover span,
label[for="landcheckbox1"]:hover span,
label[for="landcheckbox2"]:hover span,
label[for="landcheckbox3"]:hover span,
label[for="landcheckbox4"]:hover span,
label[for="landcheckbox5"]:hover span {
  filter: brightness(1.5);
}

input[type="checkbox"]+label {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
  margin-left: 0px;
}

.tools-interactivemap--select---year----disabled,
.tools-interactivemap--button---disabled {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}

// Style for map
.tool_container {
  .commom-class-disabled.map-left {
    width: 30%;
  }

  .map-container {
    position: sticky;
    top: 100px;
    height: fit-content;
    width: 70%;

    #map {
      width: 100%;
    }
  }

  .marker-info {
    padding: 10px;
    text-align: left;
  }

  .leaflet-control-custom {
    padding: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: auto;
    text-align: center;
  }

  .button-layer_map {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &:not(.active) .leaflet-control-custom {
      display: none;
    }
  }

  .legend-base {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;

    img {
      border: 1px solid black;
    }

    span {
      display: block;
    }

    &.active img {
      border: 1px solid red;
    }
  }

  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .legend-color {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    margin-right: 8px;
    border: 1px solid black;
  }

  .legend-text {
    flex: 1;
  }

  .leaflet-popup-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px 0;
  }

  .image-container {
    margin-bottom: 10px;
    margin: 0.25em;

    img {
      max-width: 100%;
      max-height: 80px;
      display: block;
    }

    .title-image {
      text-align: center;
      color: #000;
      margin-top: 4px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .leaflet-container a.leaflet-popup-close-button {
    font-size: 28px;
    color: #ffffff;
    font-weight: 100;
    top: 4px;
    right: 4px;
  }

  .leaflet-popup-content-wrapper {
    min-width: 500px;

    .leaflet-popup-content {
      width: 100% !important;
    }

    .leaflet-header {
      background-color: #072857;
      padding: 12px;
      color: #ffffff;

      h5 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
      }

      .date-time {
        font-size: 14px;
      }
    }


    .leaflet-body {
      padding: 12px;
      color: #000;

      .leaflet-body-images {
        gap: 4px;
      }
    }
  }

  /* Style for backdrop and modal container */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
  }

  /* Style for the modal content */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px 20px;
    background: white;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(155, 155, 155, 0.5);
      border-radius: 20px;
      border: transparent;
    }
  }

  .close-moda-popup {
    display: block;
    width: max-content;
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
  }
}

@media (max-width: 1600px) {
  .tool_container {
    .commom-class-disabled.map-left {
      width: 30%;
    }

    .map-container {
      width: 70%;
    }
  }
}

@media (max-width: 1024px) {
  .tool_container {
    flex-wrap: wrap;

    .commom-class-disabled.map-left {
      width: 100%;
    }

    .map-container {
      width: 100%;
    }
  }

  .popup_more-info {
    width: 95%;
    min-width: unset;
    max-width: 800px;

    .item-info {
      flex-direction: column;

      .title {
        margin-bottom: 12px;
      }
    }
  }
}

.dot {
  min-width: 15px;
}

.group-button_map {
  display: none;

  .button-action {
    width: 24px;
    margin-right: 12px;
    display: block;

    img {
      width: 100%;
    }
  }

  .button-action:last-child {
    margin-right: 0px;
  }
}

.popup_select-country {
  display: none;

  span {
    display: none;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
  }

  .left-content {
    margin-left: 12px;
    display: none;
  }

  .content {
    display: flex;
  }
}

.logo-action {
  display: flex;
  align-items: center;

  .navbar-toggler {
    float: none;
    padding: 0;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .tools-section {
    display: none;
  }

  .group-layer {
    position: fixed;
    display: none;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    max-height: 60vh;
    overflow-y: auto;
    width: 90%;
    max-width: 450px;
    z-index: 9999;
    background-color: white;
    padding: 24px 24px;
    border-radius: 10px;

    .select-year {
      margin-top: 0px;
    }
  }

  .group-layer.open {
    display: block;
    pointer-events: auto;
  }

  .group-button_map {
    display: flex;
  }

  .popup_select-country {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    height: fit-content;
    max-height: 60vh;
    overflow-y: auto;
    width: 90%;
    max-width: 450px;
    z-index: 9999;
    background-color: white;
    padding: 24px 24px;
    border-radius: 10px;

    span {
      display: block;
    }

    .content {
      .form-select {
        width: 70% !important;
        margin-top: 0px;
      }

      align-items: center;
    }

    .left-content {
      display: block;
      width: 30%;

      img {
        width: 100%;
      }
    }
  }

  .popup_select-country.open {
    pointer-events: auto;
    display: block;
  }
}

