<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">analyze the data</h2>
      <p class="article_description">
        Within Living Earth, you can access the data cube for your country or region through the following links.
      </p>
      <div class="row analyze-table">
        <div class="col-3">
          <p class="analyze-table-heading">Country/Region</p>
          <p class="analyze-table-list">Australia</p>
          <p class="analyze-table-list">Wales</p>
          <p class="analyze-table-list">Switzerland</p>
          <p class="analyze-table-list-bot">Southeast Asia</p>
        </div>
        <div class="col-5">
          <p class="analyze-table-heading">Access to Jupyter notebooks</p>
          <a
            class="analyze-table-link"
            href="https://app.sandbox.dea.ga.gov.au/"
            >https://app.sandbox.dea.ga.gov.au/
          </a>
          <a
            class="analyze-table-link"
            href="https://livingwales.aber.ac.uk/jhub"
            >https://livingwales.aber.ac.uk/jhub
          </a>
          <a
            class="analyze-table-link"
            href="https://www.swissdatacube.org/index.php/platform/"
            >https://www.swissdatacube.org/index.php/platform/
          </a>
        </div>
      </div>
      <p class="article_description">
        Once you have obtained a login and password, you can access default notebooks that are relevant generally or
        specifically to Living Earth.

        <br>
        A notebook repository is also available [LINK TO NOTEBOOK REPOSITORY – TO BE SET UP]
      </p>
    </div>
    <div class="col-4 mt-5">
      <video width="auto" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</div>
