<!-- BLOG -->

<!-- blog-main-section-Start -->
<div class="container mb-100 blog-main">
    <div class="row">
        <div class="col-12 col-md-6 blog-main-left-img">
            <a href="#"><img src="/assets/img/blogMainLeft.png" alt=""></a>
        </div>
        <div class="col-12 col-md-6 blog-main-right">
            <div class="blog-main-right-dsc">
                <button type="button">LIVING WALES</button>
                <h5>Proactively plan for the future</h5>
                <p>Living Wales is a unique and novel world-first concept that is using satellite data to capture detailed spatial information on the state and dynamics of Wales’s landscape, in near real time and historically (since 1985), to inform future land management and policy...</p>
                <div class="user-profile">
                    <div class="user-profile-img">
                        <img src="/assets/img/avatar/richard-lucas.jpg" alt="user">
                    </div>
                    <div>
                        <h2 class="user-name">Prof. Richard Lucas</h2>
                        <div class="user-status">
                            <p class="user-status-date">Apr 10,2022</p>
                            <p class="user-status-type">7 mins read</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-main-section-End -->

<!-- blog-navtabs-Start -->
<div class="container mb-100 blog-navtabs-main">
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="data-continent-fillter mb-3">
                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <input type="radio" class="radio" id="grade-a" name="category">
                                    <label for="grade-a">
                                        <h3>News</h3>
                                    </label>
                                </div>
                                <div class="option">
                                    <input type="radio" class="radio" id="grade-b" name="category"/>
                                    <label for="grade-b">
                                        <h3>Research</h3>
                                    </label>
                                </div>
                                <div class="option">
                                    <input type="radio" class="radio" id="grade-c" name="category"/>
                                    <label for="grade-c">
                                        <h3>General</h3>
                                    </label>
                                </div>
                            </div>
                            <div class="selected">
                                <h3>Show All</h3>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="Show-all-tab" data-toggle="tab" href="#Show-all" role="tab" aria-controls="Show-all" aria-selected="true">Showall</a>
                            <a class="nav-item nav-link" id="Case-Studies-tab" data-toggle="tab" href="#Case-Studies" role="tab" aria-controls="Case-Studies" aria-selected="false">Case Studies</a>
                            <a class="nav-item nav-link" id="News-tab" data-toggle="tab" href="#News" role="tab" aria-controls="News" aria-selected="false">News</a>
                            <a class="nav-item nav-link" id="Research-tab" data-toggle="tab" href="#Research" role="tab" aria-controls="Research" aria-selected="false">Research</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- show-all-content-Start -->
                        <div class="tab-pane fade show active show-all" id="Show-all" role="tabpanel" aria-labelledby="Show-all-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="show-all-content">
                                        <a href="blog/global-change-taxonomy"><img src="/assets/img/blogContent.jpg" alt="blogContent"></a>
                                        <p><a href="blog/global-change-taxonomy">A new global change taxonomy</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="show-all-content">
                                        <a href="blog/improve-retrieval-of-forest"><img src="/assets/img/oldman.jpg" alt=""></a>
                                        <p><a href="blog/improve-retrieval-of-forest">Helping to improve the retrieval of forest carbon stocks.</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="show-all-content">
                                        <a href="blog/monitor-landscapes"><img src="/assets/img/forecasts.jpg" alt=""></a>
                                        <p><a href="blog/monitor-landscapes">Proactively plan for the future</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="show-all-content">
                                                <a href="#"><img src="/assets/img/blogContent2.jpg" alt="blogContent"></a>
                                                <button>intro to geology</button>
                                                <p><a href="#">Geoscience Australia part of international effort to compare
                                                        next generation of satellite data</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="show-all-content">
                                                <a href="#"><img src="/assets/img/blogContent3.jpg" alt=""></a>
                                                <button>Reports</button>
                                                <p><a href="#">New report: Extracting the benefits of Earth observation</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="show-all-content">
                                                <a href="#"><img src="/assets/img/blogContent4.jpg" alt="blogContent"></a>
                                                <button>intro to geology</button>
                                                <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="show-all-content">
                                                <a href="#"><img src="/assets/img/blogContent5.jpg" alt=""></a>
                                                <button>intro to geology</button>
                                                <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="show-all-content">
                                                <a href="#"><img src="/assets/img/blogContent6.jpg" alt=""></a>
                                                <button>forecasts</button>
                                                <p><a href="#">Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- show-all-content-End -->
                        <div class="tab-pane fade" id="Case-Studies" role="tabpanel" aria-labelledby="Case-Studies-tab">
                            <!-- show-all-content-Start -->
                            <div class="tab-pane fade show active show-all" role="tabpanel" aria-labelledby="Show-all-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/blogContent.jpg" alt="blogContent"></a>
                                            <button>intro to geology</button>
                                            <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/oldman.jpg" alt=""></a>
                                            <button>intro to geology</button>
                                            <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/forecasts.jpg" alt=""></a>
                                            <button>forecasts</button>
                                            <p><a href="#">Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent2.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>Geoscience Australia part of international effort to compare
                                                        next generation of satellite data</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent3.jpg" alt=""></a>
                                                    <button>Reports</button>
                                                    <p>New report: Extracting the benefits of Earth observation</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent4.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent5.jpg" alt=""></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent6.jpg" alt=""></a>
                                                    <button>forecasts</button>
                                                    <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- show-all-content-End -->

                        </div>
                        <div class="tab-pane fade" id="News" role="tabpanel" aria-labelledby="News-tab">
                            <!-- show-all-content-Start -->
                            <div class="tab-pane fade show active show-all" role="tabpanel" aria-labelledby="Show-all-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/blogContent.jpg" alt="blogContent"></a>
                                            <button>intro to geology</button>
                                            <p>How AI can improve the speed and accuracy of geological researches</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/oldman.jpg" alt=""></a>
                                            <button>intro to geology</button>
                                            <p>How AI can improve the speed and accuracy of geological researches</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/forecasts.jpg" alt=""></a>
                                            <button>forecasts</button>
                                            <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent2.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>Geoscience Australia part of international effort to compare
                                                        next generation of satellite data</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent3.jpg" alt=""></a>
                                                    <button>Reports</button>
                                                    <p>New report: Extracting the benefits of Earth observation</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent4.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent5.jpg" alt=""></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent6.jpg" alt=""></a>
                                                    <button>forecasts</button>
                                                    <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- show-all-content-End -->

                        </div>
                        <div class="tab-pane fade" id="Research" role="tabpanel" aria-labelledby="Research-tab">
                            <!-- show-all-content-Start -->
                            <div class="tab-pane fade show active show-all" role="tabpanel" aria-labelledby="Show-all-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/blogContent.jpg" alt="blogContent"></a>
                                            <button>intro to geology</button>
                                            <p>How AI can improve the speed and accuracy of geological researches</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/oldman.jpg" alt=""></a>
                                            <button>intro to geology</button>
                                            <p>How AI can improve the speed and accuracy of geological researches</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/forecasts.jpg" alt=""></a>
                                            <button>forecasts</button>
                                            <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent2.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>Geoscience Australia part of international effort to compare
                                                        next generation of satellite data</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent3.jpg" alt=""></a>
                                                    <button>Reports</button>
                                                    <p>New report: Extracting the benefits of Earth observation</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent4.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent5.jpg" alt=""></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent6.jpg" alt=""></a>
                                                    <button>forecasts</button>
                                                    <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- show-all-content-End -->
                        </div>
                        <div class="tab-pane fade" id="assessing-risk" role="tabpanel">
                            <!-- show-all-content-Start -->
                            <div class="tab-pane fade show active show-all" role="tabpanel" aria-labelledby="Show-all-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/blogContent.jpg" alt="blogContent"></a>
                                            <button>intro to geology</button>
                                            <p>How AI can improve the speed and accuracy of geological researches</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/oldman.jpg" alt=""></a>
                                            <button>intro to geology</button>
                                            <p>How AI can improve the speed and accuracy of geological researches</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="show-all-content">
                                            <a href="#"><img src="/assets/img/forecasts.jpg" alt=""></a>
                                            <button>forecasts</button>
                                            <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent2.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>Geoscience Australia part of international effort to compare
                                                        next generation of satellite data</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent3.jpg" alt=""></a>
                                                    <button>Reports</button>
                                                    <p>New report: Extracting the benefits of Earth observation</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent4.jpg" alt="blogContent"></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent5.jpg" alt=""></a>
                                                    <button>intro to geology</button>
                                                    <p>How AI can improve the speed and accuracy of geological researches</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="show-all-content">
                                                    <a href="#"><img src="/assets/img/blogContent6.jpg" alt=""></a>
                                                    <button>forecasts</button>
                                                    <p>Tomorrow Forecast: Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- blog-navtabs-End -->

<!-- load-More-section-Start -->
<div class="container mb-100">
    <div class="row">
        <div class="col-3 m-auto text-center d-flex align-items-center justify-content-center flex-column">
            <p class="total-view">You are viewing 8 of 46 articles</p>
            <button type="button" class="load-more-btn">Learn more</button>
        </div>
    </div>
</div>
<!-- load-More-section-End -->
<!-- /BLOG -->