<!-- CONTACT-US -->
<form class="contactus-dsc-form-main">
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="FULL NAME" name="fullname" required/>
    </div>
    <div class="input-group">
        <input class="input--style-1" type="email" placeholder="E-MAIL" name="email" required/>
    </div>
    <div class="input-group">
        <input class="input--style-1" type="number" placeholder="PHONE NUMBER" name="phone" required/>
    </div>
    <div class="input-group" style="display:none">
        <div class="rs-select2 js-select-simple select--no-search">
            <select name="CHOOSE YOUR ENQUIRY" required>
                <option disabled="disabled" selected="selected">CHOOSE YOUR ENQUIRY</option>
                <option>ENQUIRY-ONE</option>
                <option>ENQUIRY-TWO</option>
                <option>ENQUIRY-THREE</option>
            </select>
            <div class="select-dropdown"></div>
        </div>
    </div>
    <div class="input-group">
        <input class="input--style-1" type="text" placeholder="YOUR MESSAGE" name="message"/>
    </div>
    <div class="mt-60">
        <button class="contact-form-submit" type="submit">Submit</button>
    </div>
</form>
<!-- /CONTACT-US -->