<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">Earthtrack App</h2>
      <p class="article_description">
        Earthtrack is a multi-module mobile application that was developed through Living Earth to routinely,
        consistently and globally record information on land cover (including vegetation strata) and land cover change
        with additional modules focused on country-specific habitats and fire. Earthtrack has been developed to support
        the validation of thematic maps generated primarily from Earth observation data and using globally applicable
        taxonomies.
      </p>
      <p class="article_description">
        Earthtrack also allows recording of habitats (currently available for the United Kingdom; UK) and dominant plant
        species for Australia and the UK, for which full species lists have been integrated.
      </p>
      <p class="article_description">
        Earthtrack has been designed to be used by a wide range of users with varying levels of expertise and background
        knowledge (e.g., citizen scientists, park rangers or academic researchers). Data submitted can be used directly
        to validate mpas of land cover, habitat and change generated primarily from Earth observation data where these
        use the same land cover and change taxonomies. These are, respectively, the Food and Agriculture Organisation
        (FAO) Land Cover Classification System (LCCS) and Living Earth’s Global Change Taxonomy.
      </p>
    </div>
    <div class="col-4 mt-5">
      <video width="auto" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</div>
