<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">{{include.heading}}</h2>
      <p class="article_description">
        {{include.first-paragraph}}
      </p>
      <p class="article_description">
        {{include.second-paragraph}}
      </p>
      <p class="article_description">
        {{include.third-paragraph}}
      </p>
    </div>
    <div class="col-4 mt-5">
      <img src="/assets/img/earthTrack/earthtrack-ternb.png" alt="Interactive Map" class="img-fluid">
    </div>
# delete 3 lines above   <div class="col-4 mt-5">
#      <video width="auto" controls>
#        <source src="mov_bbb.mp4" type="video/mp4">
#        <source src="mov_bbb.ogg" type="video/ogg">
#       Your browser does not support HTML video.
#      </video>
    </div>
  </div>
</div>
