<div class="tool_img">
  <div class="row">
    <div class="tool_content col-8">
      <h2 class="title">{{include.heading}}</h2>
      <p class="article_description">
        {{include.first-paragraph}}
      </p>
      <p class="article_description">
        {{include.second-paragraph}}
      </p>
      <p class="article_description">
        {{include.third-paragraph}}
      </p>
    </div>
    <div class="col-4 mt-4">
      <img src="/assets/img/earthTrack/earthtrack-ternb.png" alt="Interactive Map" class="img-fluid">
    </div>
    <div class="col-2 mt-4">
      <img src="/assets/img/earthTrack/earthtrack-app.png" alt="Interactive Map" class="img-fluid">
    </div>
    <div class="col-2 mt-4">
      <img src="/assets/img/earthTrack/Googleplaystore.png" alt="Interactive Map" class="img-fluid">
    </div>
    <div class="col-2 mt-4">
      <img src="/assets/img/earthTrack/Appleappstore.png" alt="Interactive Map" class="img-fluid">
    </div>
  </div>
</div>
