<!-- GET-IN-TOUCH -->
<aside class="mt-100 mb-100">
    <div class="get-in-section-main">
        <div class="get-in-section-dsc">
            <h3 class="text-uppercase">{{ include.heading | default: "We need your help&hellip;" }}</h3>
            <p>{{ include.subheading | default: "Find out how you contribute to the website by joining our community and helping the Living Earth Hub grow." }}</p>
        </div>
        <button type="button" onclick="location.href='{{ include.url | default: "/contact/" }}'">{{ include.button | default: "Get in touch" }}</button>
    </div>
</aside>
<!-- /GET-IN-TOUCH -->