<header class="navigation-wrap start-header start-style {% if page.layout != 'home' %}other-page-header{%- endif -%}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="d-none">LivingEarth</h1>
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/"><img src='/assets/img/LivingEarth{% if page.layout != 'home' %}-black{%- endif -%}.png' alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0 align-items-center navbar-mobile-view">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-lg-5 active"><a class="nav-link" href="/future/">Future Landscapes</a></li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-lg-5"><a class="nav-link" href="/past-present-landscapes/">Past &amp; Present Landscapes</a></li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-lg-5 active dropdown-mobile">
                                <a class="nav-link dropdown-toggle dropdown-mobile" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Continents</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/europe/">Europe</a>
                                    <a class="dropdown-item" href="/oceania/">Oceania</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-lg-5 active dropdown-mobile">
                                <a class="nav-link dropdown-toggle dropdown-mobile" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Countries</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/europe/wales/">Wales</a>
                                    <a class="dropdown-item" href="/oceania/australia/">Australia</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-lg-5"><a class="nav-link" href="/news/">News</a></li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-lg-5"><a class="nav-link" href="/about/">About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

{% if page.layout != 'home' %}
    <div class="otherpage-header-margin"></div>
{%- endif -%}