<div class="container new-tools-container">
  {% if include.heading %}
    <p class="new-tools-container-heading">{{ include.heading }}</p>
  {% endif %}
  <div class="row">
    <div class="new-tools-container-content col-6">
      {% for item in site.data['interactive-map-information'].index %}
        <div class="paragraph">
          <p class="title">{{ item.title }}</p>
          <p class="subtitle">
            {% assign lines = item.subtitle | newline_to_br | split: '<br>' %}
            {% for line in lines %}
              {{ line }}
            {% endfor %}
          </p>
          {% if item['subtitle-link'] != '' %}
            <p class="subtitle-link">{{ item['subtitle-link'] }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="col-6 img-container">
      <img src="/assets/img/tools/wales-strip.png" alt="Interactive Map" class="img-fluid">
    </div>
  </div>
</div>
