<div class="container mb-100">
    <div class="row">
        <div class="col-3 m-auto text-center d-flex align-items-center justify-content-center flex-column">
            <p class="total-view">You are viewing 8 of 46 articles</p>
            <button type="button" class="load-more-btn">Learn more</button>
        </div>
    </div>
</div>