<div class="news-header-container">
  <div class="news-header-search">
    <input
      class="search-box "
      type="text"
      placeholder="Search by key word"
    >

    <button class="a-to-z ">
      <img src="/assets/icon/icon-a-to-z.svg">
    </button>
  </div>

  <div class="news-header-option">
    <button class="header-button-1">
      <p>ALL (81)</p>
    </button>
    <button class="header-button-2">
      <p>RESEARCH (15)</p>
    </button>
    <button class="header-button-3">
      <p>CASE STUDY (3)</p>
    </button>
    <button class="header-button-4">
      <p>NEWS (6)</p>
    </button>
    <button class="header-button-5">
      <p>EVENTS (34)</p>
    </button>
    <button class="header-button-6">
      <p>OTHER (23)</p>
    </button>
  </div>
</div>
