<div class="container mb-64 mt-64 blog-main">
  <div class="row">
    <div class="col-12 col-md-6 blog-main-left-img">
      <a href="#"><img src="/assets/img/blogMainLeft.png" alt=""></a>
    </div>
    <div class="col-12 col-md-6 blog-main-right">
      <div class="blog-main-right-dsc">
        <button type="button">RESEARCH</button>
        <h5>an artist’s surreal view of Australia</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam,...
        </p>
        <div class="user-profile">
          <div class="user-profile-img">
            <img src="/assets/img/avatar/profile.png" alt="user">
          </div>
          <div>
            <h2 class="user-name">Malcom Jacobs</h2>
            <div class="user-status">
              <p class="user-status-date">Apr 10,2022</p>
              <p class="user-status-type">7 mins read</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
