<div class="mt-100 mb-100 search-landscapes-main">
    <div class="d-flex justify-content-center align-items-center">
        <h2 class="text-center">Opensource Tools for earth scientists & policymakers</h2>
    </div>

    <div class="row d-flex justify-content-center opensource-tools-wrapper">
        {% for box in site.data.opensource-tools.index %}
            <div class="col-6 col-md-3 col-lg opensource-tools">
                <a href="{{ box.url }}">
                    <span class="icon">{{ box.icon.value }}</span>
                    <span class="white-icon">{{ box.white-icon }}</span>
                    <span>{{ box.title }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>