<!-- OUR-EVENTS -->
<div class="mt-100 mb-100">
    <div class="common-blog-main">
        {%- if include.title -%}<p>{{ include.title }}</p>{% endif %}
        <div class="common-blog-title">
            {%- if include.heading -%}<h3>{{ include.heading }}</h3>{% endif %}
            {%- if include.all -%}<button type="button" onclick="location.href='{{ include.url }}'">{{ include.all }}</button>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 join-our-events">
            <div class="join-our-card">
                <a href="#"><img src="/assets/img/eventImage.jpg" alt=""></a>
                <div class="join-our-dsc">
                    <button>10th November, 2022</button>
                    <p><a href="#">Protecting our Planet Day (POP22)</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 join-our-event-main">
            <div class="row our-event-main">
                <div class="col-3 pr-0 pr-lg-3">
                    <a href="#"><img class="event-our-img" alt="img" src="/assets/img/our-event1.jpg"/></a>
                </div>
                <div class="col-9">
                    <div class="event-our-right-main">
                        <div class="event-our-right-inner">
                            <button>11th November, 2022</button>
                            <span>online</span>
                        </div>
                        <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                    </div>
                </div>
            </div>
            <div class="row our-event-main">
                <div class="col-3 pr-0 pr-lg-3">
                    <a href="#"><img class="event-our-img" alt="img" src="/assets/img/our-event2.jpg"/></a>
                </div>
                <div class="col-9">
                    <div class="event-our-right-main">
                        <div class="event-our-right-inner">
                            <button>12th November, 2022</button>
                            <span>online</span>
                        </div>
                        <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                    </div>
                </div>
            </div>
            <div class="row our-event-main">
                <div class="col-3 pr-0 pr-lg-3">
                    <a href="#"><img class="event-our-img" alt="img" src="/assets/img/our-event3.jpg"/></a>
                </div>
                <div class="col-9">
                    <div class="event-our-right-main">
                        <div class="event-our-right-inner">
                            <button>13th November, 2022</button>
                            <span>online</span>
                        </div>
                        <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                    </div>
                </div>
            </div>
            <div class="row our-event-main">
                <div class="col-3 pr-0 pr-lg-3">
                    <a href="#"><img class="event-our-img" alt="img" src="/assets/img/our-event1.jpg"/></a>
                </div>
                <div class="col-9">
                    <div class="event-our-right-main">
                        <div class="event-our-right-inner">
                            <button>14th November, 2022</button>
                            <span>online</span>
                        </div>
                        <p><a href="#">How AI can improve the speed and accuracy of geological researches</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /OUR-EVENTS -->