<!-- OUR-BLOG -->
<div class="mt-100 mb-100">
    <div class="common-blog-main">
        {%- if include.title -%}<p>{{ include.title }}</p>{% endif %}
        <div class="common-blog-title">
            {%- if include.heading -%}<h3>{{ include.heading }}</h3>{% endif %}
            {%- if include.all -%}<button type="button" onclick="location.href='{{ include.url }}'">{{ include.all }}</button>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="owl-stay-up" class="owl-carousel owl-theme owl-img-responsive">
                <div class="item">
                    <div class="stay-up-card">
                        <a href="#"><img src="/assets/img/forecasts.jpg" alt=""></a>
                        <button>forecasts</button>
                        <p><a href="#">Helping to improve the retrieval of forest carbon stocks</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="stay-up-card">
                        <a href="#"><img src="/assets/img/oldman.jpg" alt=""></a>
                        <button>Research</button>
                        <p><a href="#">Using tree species maps from Sentinel-2 and Planet data to inform on potential future impacts of plant disease.</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="stay-up-card">
                        <a href="#"><img src="/assets/img/forecasts.jpg" alt=""></a>
                        <button>forecasts</button>
                        <p><a href="#">A new global change taxonomy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /OUR-BLOG -->