<!-- PAST-CURRENT-LANDSCAPES -->
<section class="container mt-100 mb-100 pastcurrent-landscapes-main">
    {%- if include.heading -%}<h2 class="common-title">{{ include.heading | escape }}</h2>{% endif %}
    {%- if include.subheading -%}<p>{{ include.subheading | escape }}</p>{% endif %}
    <div class="row effect">
        <div class="col-12">
            <div id="owl-past-current" class="owl-carousel owl-theme owl-img-responsive">
                <section class="item">
                    <a href="#"><img src="/assets/img/PastCurrent1.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">Analysis Ready Data</a></h4>
                        <p>Download and pre-process satellite sensor data to an analysis ready format</p>
                    </div>
                </section>
                <section class="item">
                    <a href="/data/environmental-descriptors"><img src="/assets/img/PastCurrent2.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="/data/environmental-descriptors">Environmental Descriptors</a></h4>
                        <p>Obtain from existing sources oor retrieve or classify from Earth observation data</p>
                    </div>
                </section>
                <section class="item">
                    <a href="#"><img src="/assets/img/PastCurrent3.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">Mapping</a></h4>
                        <p>Combine the environmental descriptors to generate maps of land cover</p>
                    </div>
                </section>
                <section class="item">
                    <a href="#"><img src="/assets/img/PastCurrent4.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">Monitoring</a></h4>
                        <p>Consistenty describe and quantify change based on impacts and pressures</p>
                    </div>
                </section>
                <section class="item">
                    <a href="#"><img src="/assets/img/PastCurrent5.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">Validation and calibration</a></h4>
                        <p>Record environmental descriptors, land cover, habitats and change on the ground</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- /PAST-CURRENT-LANDSCAPES -->