<div class="container-fluid">
  <div class="row">
    <p class="new-about-title col-12">
      Living Earth is a novel globally applicable concept and and approach that provides information on landscapes to inform on past changes and direct future actions for our Planet that benefit the well being of nature and people.  Living Earth uses globally consistent taxonomies for classifying past, current and future land cover and change.  The approach is simple in that maps of landscapes (e.g., land cover, habitats) can be constructed from environmental descriptors retrieved or classified primarily from Earth observations and are scalable in space and time because of the use of defined units or categories.   Comparisons of the spatial dataets allow evidence on change impacts to be gathered, which can be combined with information on driving pressures to ascertain causes and consequences. This information, which is open, can inform decisions relating to the planning of future landscapes under a range of economic and/or climate scenarios, assess values of ecosystems, assess the realism of ambitions and ecosystem values, and monitor progress towards co-designed plans.  
    </p>
  </div>
  <div class="row">
    <p class="new-about-title col-12">
      PROJECTS:  Living Earth has been developed through a series of local to continental-scale projects, with these contributing to the development of the global approach to land monitoring and/or future planning of landscapes.
    </p>
  </div>
  <div class="row">
    <div class="col-4 img-container">
      <img src="/assets/img/tools1.jpg" class="img-fluid" alt="Living Earth logo">
    </div>
    <div class="col-4 img-container">
      <img src="/assets/img/tools2.jpg" class="img-fluid" alt="Living Earth logo">
    </div>
    <div class="col-4 img-container">
      <img src="/assets/img/tools3.jpg" class="img-fluid" alt="Living Earth logo">
    </div>
  </div>
  <div class="row">
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="#">LIVING WALES</a>
      <p class="new-about-content-subtitle">National mapping of Wales through Living Earth</p>
      <p class="new-about-content-para">
        Providing operational mapping and monitoring of the national landscape of Wales since 2018 using the Welsh Data Cube, which stores and accumulates all Copernicus Sentinel-1 radar and Sentinel-2 optical observations.  Maps of land cover and habitats are generated on an annual basis and there is capacity to detect subannual changes in extent and condition.  
      </p>
      <p class="new-about-content-tagline">Funded by the Ser Cymru II program and Welsh Government</p>
    </div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="#">LIVING COASTS</a>
      <p class="new-about-content-subtitle">Mapping, monitoring and future planning of coastal ecosystems.</p>
      <p class="new-about-content-para">
        Adapting existing capacity to allow coastal and influencing inland landscapes to be consistently characterised, mapped and  monitored from dense time-series of Earth observation data. Focusing on Australia, Wales (UK) and selected regions of Southeast Asia, the Pacific Islands and South America, Living Coasts is linking activities, events and processes on land with those occuring in the intertidal and subtidal zones.
      </p>
      <p class="new-about-content-tagline">Funded by the UKRI STFC EO4AgriClimate</p>
    </div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="https://www.dea.ga.gov.au/products/dea-land-cover">DEA LAND COVER</a>
      <p class="new-about-content-subtitle">Continental mapping of Australia for 33 years</p>
      <p class="new-about-content-para">
        Providing the first national maps of Australia from 1988 to 2020 generated using Living Earth, with this providing remarkable and insightful history of land cover change for the continental land mass and islands.  The approach utilised environmental descriptors generated entirely from Landsat sensor data, including fractional vegetation cover and annual water hydroperiod, which were combined to generate the classifications of Australia.  The research and development was undertaken in parellel with Living Wales. 
      </p>
      <p class="new-about-content-tagline">Funded by Digital Earth Australia</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="#">DYNAMIC LAND</a>
      <p class="new-about-content-subtitle">
        Quantitative land cover descriptions and map generation through Living Earth.
      </p>
      <p class="new-about-content-para">
        Developing a fully quantititative approach to retrieving or classifying environmental descriptors and using these to construct land cover maps according to global taxonomies. Demonstration is for countries including Switzerland, Australia, Papua New Guinea and Wales and those in South America and Africa. Approaches to integrating uncertainty estimates are also being developed.
      </p>
      <p class="new-about-content-tagline">Funded by the Swiss National Science Foundation</p>
    </div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="#">LIVING PNG</a>
      <p class="new-about-content-subtitle">Living Earth for Papua New Guinea.</p>
      <p class="new-about-content-para">
        Implementing and evaluating Living Earth for the coastal landscapes of Papua New Guinea.
      </p>
      <p class="new-about-content-tagline">Funded by CSIRO.</p>
    </div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="https://sites.google.com/site/mamaforestproject/home?authuser=0"
        >MAMAFOREST</a
      >
      <p class="new-about-content-subtitle">
        Evaluating sustainable management of the Matang Mangrove Forest Reserve, Peninsular Malaysia
      </p>
      <p class="new-about-content-para">
        Demonstrating new capacity for dynamic land cover change in commercial and protected mangroves from time-series of spaceborne radar and optical imagery. Provided opportunities to retrieve or classify a range of enviromental descriptors relevant to this landscape, including mangrove height, cover and biomass and dominant species. Indicators of change impacts, such as deforestation and regrowth were also mapped through comparisons of the time-series datasets, with this demonstrating capability for sustainable management of the mangroves to benefit local populations and nature.
      </p>
      <p class="new-about-content-tagline">Funded by the Belgium Science Policy Office (BELSPO)</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="http://www.ecopotential-project.eu/products/eodesm.html">ECOPOTENTIAL</a>
      <p class="new-about-content-subtitle">Development of EODESM – the forerunner to Living Earth.</p>
      <p class="new-about-content-para">
        A large European-funded H2020 project that focuses its activities on a targeted set of internationally recognised Protected Areas, blending Earth Observations from remote sensing and field measurements, data analysis and modelling of current and future ecosystem conditions and services. ECOPOTENTIAL considers cross-scale geosphere-biosphere interactions at regional to continental scales, addressing long-term and large-scale environmental and ecological challenges. ECOPOTENTIAL followed BIOSOS and allowed the development of the Earth Observation Data for EcoSystem Monitoring (EODESM) and subsequently Living Earth
      </p>
      <p class="new-about-content-tagline"></p>
    </div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="#">LIVING WATEROURCES </a>
      <p class="new-about-content-subtitle">Applying Living Earth to freshwater environments.</p>
      <p class="new-about-content-para">
        Developing new capacity for characterising, mapping and monitoring catchments in Wales. The project is working alongside Living Wales, with focus on retrieving or classifying environmental descriptors relevant to freshwater systems from Earth observation data and quantifying and mapping change impacts and driving pressures.  The project is also developing new capacity for improving water quality and use through improved catchment management in Welsh river catchments. 
      </p>
      <p class="new-about-content-tagline">Funded by Welsh Water</p>
    </div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="https://cordis.europa.eu/project/id/263435">BIO_SOS </a>
      <p class="new-about-content-subtitle">Land cover mapping from spectral data and derived metrics.</p>
      <p class="new-about-content-para">
        A pilot project to develop effective and timely multi-annual monitoring of European and NATURA 2000 sites and their surrounds in support to management decisions and reporting on the status and trends according to National and EU obligations. Focus was on the mapping of habitats in Europe from very-high resolution satellite sensor data, with focus on sites in the Mediterranean but also in Wales (United Kingdom). BIO_SOS was instrumental in developing the Living Earth approach.
      </p>
      <p class="new-about-content-tagline">Funded by EU Horizon 2020</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="new-about-content col-4"></div>
    <div class="new-about-content col-4"></div>
    <div class="new-about-content col-4">
      <a class="new-about-content-title" href="https://climate.esa.int/en/projects/biomass">CCI BIOMASS </a>
      <p class="new-about-content-subtitle">Generating global maps of forest biomass</p>
      <p class="new-about-content-para">
      The European Space Agency’s (ESA) Climate Change Initiative (CCI) Biomass project is exploring how existing global maps of land cover can be deconstructed and rebuilt according to the Food and Agiriculture Organisation (FAO) Land Cover Classification System (LCCS) used by Living Earth and how time-series of these classificaitons can be with Living Earth’s Global Change Taxonomy and Evidence-Based Change Framework to support assessment of biomass change at national to global levels.
      </p>
      <p class="new-about-content-tagline">Funded by the European Space Agency</p>
    </div>
  </div>
</div>
