<div class="tool_img">
  <img src="../assets/img/getdata2.png">
  <div class="tool_content">
    <span class="page_link">Home / Tools / Analyze the Data/ Openly Available Optical and Radar</span>
    <h2 class="title">Living Wales data Directory (EODataDown)</h2>
    <h3 class="article_heading">introduction</h3>
    <p class="article_description">
      Dui id ornare arcu odio. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Est ullamcorper
      eget
      nulla facilisi etiam. Et pharetra pharetra massa massa ultricies mi quis. Cursus turpis massa tincidunt dui. Neque
      gravida in fermentum et sollicitudin ac orci. Turpis egestas maecenas pharetra convallis posuere morbi leo urna.
      Lorem ipsum dolor sit amet consectetur. Lacus luctus accumsan tortor posuere ac. Aliquet bibendum enim facilisis
      gravida. Nunc faucibus a pellentesque sit amet porttitor eget dolor. Justo nec ultrices dui sapien. Id leo in
      vitae
      turpis massa sed elementum tempus egestas. Quam vulputate dignissim suspendisse in est ante. A erat nam at lectus
      urna duis. Erat nam at lectus urna duis convallis convallis tellus.
    </p>
    <h3 class="article_heading">Period, sensor and region of interest</h3>
    <p class="article_description">
      Dui id ornare arcu odio. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Est ullamcorper
      eget
      nulla facilisi etiam. Et pharetra pharetra massa massa ultricies mi quis. Cursus turpis massa tincidunt dui. Neque
      gravida in fermentum et sollicitudin ac orci. Turpis egestas maecenas pharetra convallis posuere morbi leo urna.
      Lorem ipsum dolor sit amet consectetur. Lacus luctus accumsan tortor posuere ac. Aliquet bibendum enim facilisis
      gravida. Nunc faucibus a pellentesque sit amet porttitor eget dolor. Justo nec ultrices dui sapien. Id leo in
      vitae
      turpis massa sed elementum tempus egestas. Quam vulputate dignissim suspendisse in est ante. A erat nam at lectus
      urna duis. Erat nam at lectus urna duis convallis convallis tellus.
    </p>
  </div>
</div>