<!-- TOOL-HEADING -->

<div class="tool_side_bar">
  <div class="country_form">
    <select class="form-select" aria-label="Default select example" class="choose_country">
      <option selected>Choose a country</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <div class="tool-sidebar-content">
      <div class="tool-sidebar-content-items">
        <div class="title-sub">
          <p class="title">
            Openly available optical and radar <img src="../assets/icon/questionmark-toolsidebar.svg">
          </p>
          <p class="subtitle">Previous access to Landsat and Sentinel-1 and Sentinel-2 data</p>
        </div>
      </div>
      <div class="tool-sidebar-content-items">
        <div class="title-sub">
          <p class="title">Lidar <img src="../assets/icon/questionmark-toolsidebar.svg"></p>
          <p class="subtitle">Airborne and spaceborne Lidar</p>
        </div>
      </div>
      <div class="tool-sidebar-content-items">
        <div class="title-sub">
          <p class="title">Thermal<img src="../assets/icon/questionmark-toolsidebar.svg"></p>
          <p class="subtitle">Thermal data</p>
        </div>
      </div>
      <div class="tool-sidebar-content-items">
        <div class="title-sub">
          <p class="title">Data<img src="../assets/icon/questionmark-toolsidebar.svg"></p>
          <p class="subtitle">A list of data sources relevant to environmental descriptors in Wales</p>
        </div>
      </div>
      <div class="tool-sidebar-content-items">
        <div class="title-sub">
          <p class="title">Algorithms<img src="../assets/icon/questionmark-toolsidebar.svg"></p>
          <p class="subtitle">Algorithms for retreiving environmental descriptiors</p>
        </div>
      </div>
      <div class="tool-sidebar-content-items">
        <div class="title-sub">
          <p class="title">Others<img src="../assets/icon/questionmark-toolsidebar.svg"></p>
          <p class="subtitle">Other Earth observation datasets</p>
        </div>
      </div>
    </div>
  </div>


  <div class="learning_resource">
    <div class="button-tool">
      <button class="button_tool_tilte" id="learningResourceButton">Go to learning resource</button>
      <img src="/assets/img/Arrow.png" alt="Arrow Image">
    </div>
    <div class="brand_logo">
      <img src="/assets/img/sponsor-logo/aberystwyth_university.png" alt="aberystwyth_university">
      <img src="/assets/img/sponsor-logo/Llywodraeth.png" alt="Llywodraeth">
      <img src="/assets/img/sponsor-logo/pml.png" alt="pml">
      <img src="/assets/img/sponsor-logo/australian_goverment.png" alt="australian_goverment">
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var learningResourceButton = document.getElementById('learningResourceButton');

    if (learningResourceButton) {
      learningResourceButton.addEventListener('click', function () {
        // Redirect to the specified URL
        window.location.href = '/tools/learning-resources';
      });
    }
  });
</script>