<!-- TOOLS -->
<section class="container mt-100 mb-100 tools-main">
    <div class="row">
        <div class="col-12">
            {%- if include.heading -%}<h2 class="common-title">{{ include.heading }}</h2>{% endif %}
            {%- if include.subheading -%}<p>{{ include.subheading }}</p>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="owl-tools" class="owl-carousel owl-theme owl-img-responsive">
                <section class="item">
                    <a href="#"><img src="/assets/img/tools1.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">See on Map</a></h4>
                    </div>
                </section>
                <section class="item">
                    <a href="#"><img src="/assets/img/tools2.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">Get the data</a></h4>
                    </div>
                </section>
                <section class="item">
                    <a href="https://jupyter.org" target="_blank"><img src="/assets/img/tools3.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="https://jupyter.org" target="_blank">Analyse the data</a></h4>
                    </div>
                </section>
                <section class="item">
                    <a href="#"><img src="/assets/img/tools4.jpg" alt=""></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="#">Models</a></h4>
                    </div>
                </section>
                <section class="item">
                    <a href="/big-data/"><img src="/assets/img/tools5.jpg" alt="Big data"/></a>
                    <div class="pastcurrent-dsc">
                        <h4><a href="/bigdata/">Big data</a></h4>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- /TOOLS -->