<div class="tool_img">
  <img src="../assets/img/getdata2.png">
  <div class="tool_content">
    <span class="page_link">Home / Tools / Analyze the Data/ Openly Available Optical and Radar</span>
    <h2 class="title">analyze the data with jupyter notebooks</h2>
    <h3 class="article_heading">what is jupyterhub?</h3>
    <p class="article_description">JupyterHub brings the power of notebooks to groups of users. It gives users access to
      computational environments and resources without burdening the users with installation and maintenance tasks.
      Users - including students, researchers, and data scientists - can get their work done in their own workspaces on
      shared resources which can be managed efficiently by system administrators.​
      <br />
      <br />
      JupyterHub runs in the cloud or on your own hardware, and makes it possible to serve a pre-configured data science
      environment to any user in the world. It is customizable and scalable, and is suitable for small and large teams,
      academic courses, and large-scale infrastructure.​
    </p>
    <h3 class="article_heading">what is jupyterhub?</h3>
    <p class="article_description">Dui id ornare arcu odio. Lacus sed viverra tellus in hac habitasse platea dictumst
      vestibulum. Est ullamcorper eget nulla facilisi etiam. Et pharetra pharetra massa massa ultricies mi quis. Cursus
      turpis massa tincidunt dui. Neque gravida in fermentum et sollicitudin ac orci. Turpis egestas maecenas pharetra
      convallis posuere morbi leo urna. Lorem ipsum dolor sit amet consectetur. Lacus luctus accumsan tortor posuere ac.
      Aliquet bibendum enim facilisis gravida. Nunc faucibus a pellentesque sit amet porttitor eget dolor. Justo nec
      ultrices dui sapien. Id leo in vitae turpis massa sed elementum tempus egestas. Quam vulputate dignissim
      suspendisse in est ante. A erat nam at lectus urna duis. Erat nam at lectus urna duis convallis convallis tellus.
      <br />
      <br />
      Dui id ornare arcu odio. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Est ullamcorper
      eget nulla facilisi etiam. Et pharetra pharetra massa massa ultricies mi quis. Cursus turpis massa tincidunt dui.
      Neque gravida in fermentum et sollicitudin ac orci.
    </p>
    <video width="400" controls>
      <source src="mov_bbb.mp4" type="video/mp4">
      <source src="mov_bbb.ogg" type="video/ogg">
      Your browser does not support HTML video.
    </video>
  </div>
</div>