---
layout: default
home: true
---

<!-- Modal -->
<div class="modal fade" id="gettingStartedModal" tabindex="-1" role="dialog" aria-labelledby="gettingStartedModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xs modal-sm modal-lg modal-xl modal-xxl custom-modal-width">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Include the getting-started content here -->
        {% include getting-started.liquid %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Check if the modal has been shown before
    var modalShown = getCookie('modalShown');

    if (!modalShown) {
      // Show the modal
      $('#gettingStartedModal').modal('show');

      // Set a flag in a cookie to indicate that the modal has been shown
      setCookie('modalShown', true, 365);
    }

    $('#understoodButton').on('click', function () {
      $('#gettingStartedModal').modal('hide');
    });

    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (30 * 24 * 60 * 60 * 1000)); // Set the expiration time to 30 days
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }

    if (!modalShown) {
      $('#gettingStartedModal').modal('show');
      localStorage.setItem('modalShown', true);
    }

    $('#understoodButton').on('click', function () {
      $('#gettingStartedModal').modal('hide');
    });
  });
</script>


{% include tool-heading.liquid %}
<div class="tool_container">
  {% include tool-sidebar.liquid %}
  {{content}}
</div>
